:root {
    --primary-color: #fe8a02;
    --light-color: #f5f4f0;
    --primary-dark-color: #42413c;
    --dark-color: #2a2626;
    --dark-50-color: #908d8b;
    --brown-color: #b09a81;
    --white-50-coor: #d7ccc0;
    --button-text-color: #fff;
    --button-hover-color: #ea7600;
}

@font-face {
    font-weight: 400;
    font-family: "Neucha";
    src: url("fonts/Neucha-Regular.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.ttf");
}

/* GENERAL BLOCKS AND STYLES */

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
}

body {
    margin: 0;
    padding: 0;
}

.section {
    position: relative;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

.section_brown-bg {
    background-color: var(--brown-color);
    color: #fff;
}

.section_light-bg {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.content-columns {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.content-columns--item {
    flex-basis: 50%;
}

.title {
    margin: 0;
    font-family: Neucha, cursive;
    line-height: 1.2em;
    color: var(--dark-color);
}

.h1 {
    font-size: 72px;
}

.h2 {
    font-size: 60px;
}

.h3 {
    font-size: 34px;
}

.button {
    display: inline-block;
    text-decoration: none;

    padding: 12px 24px;

    border: none;

    color: var(--button-text-color);

    background-color: var(--primary-color);

    font-weight: 700;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--button-hover-color);
}

/* MODIFICATIONS */
._highlight-txt {
    color: var(--primary-color);
}

._pattern-bg::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url("images/background.png") no-repeat top/cover;
    opacity: 0.1;

    z-index: 0;
    content: "";
}

/*!* HEADER *!*/
.header--body {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header--title {
    padding-top: 7px;
    margin-bottom: 175px;
}

.header--pic {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -1;
}


.header--button {
    margin-top: 20px;
}

/* VIDEO */
.video-section {
    overflow: visible;
}

.video-section--body.container {
    padding: 0;
}

.video-section--body {
    top: 100px;
    text-align: center;
}

.video-section--title {
    margin-bottom: 24px;
}

.video-section--description {
    margin-bottom: 30px;
}

.video-section--video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* NAVIGATION */
.navigation-section {
    background-color: var(--primary-dark-color);
    padding-top: 100px;
}

.navigation-section--body {
    display: grid;
    grid-template: 323px 348px / repeat(3, 1fr);
    gap: 20px 30px;
}

.navigation-section--title {
    margin: 0;
    font: 400 52px/120% Neucha, cursive;
    color: #fff;
}

.navigation--item {
    background-color: var(--light-color);
    padding: 24px;
    text-decoration: none;
    color: inherit;
}

.navigation--number {
    margin-bottom: 40px;
    font: 64px/1 Neucha, cursive;
    color: var(--primary-dark-color);
}

.navigation--title {
    color: var(--primary-color);
}

.navigation--item:hover {
    background-color: var(--primary-color);
}

.navigation--item:hover * {
    color: #fff;
}

/* IKEA-EFFECT */

.ikea-effect {
    background-color: var(--light-color);
}

.content-columns:first-child {
    margin-bottom: 100px;
}

.content-columns--topic {
    font: 400 24px/1.2em Neucha, cursive;
    color: var(--dark-50-color);
}

.content-columns--title {
    margin-bottom: 30px;
}

.content-columns--description {
    font: 400 34px/1.2em Neucha, cursive;
    margin: 0;
}

.ikea-effect--title {
    margin-bottom: 20px;
    font: 700 14px/1.2em "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 5px 0 5px 10px;
}

.ikea-effect--title_brown-bg {
    background-color: var(--brown-color);
    color: #fff;
}

.ikea-effect--title_light-bg {
    background-color: #fff;
    color: var(--brown-color);
}

.ikea-effect--description > p {
    margin: 0;
}